.custom-input {
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
    font-size: 13px;
    border: none;
    box-shadow: 0 0 0 1px transparent;
    transition: background-color 0.2s ease, box-shadow 0.2s ease;
  }

  .custom-input2 {
    background-color: #e4e4e1;
    color: black;
    font-size: 13px;
    border: none;
    box-shadow: 0 0 0 1px transparent;
    transition: background-color 0.2s ease, box-shadow 0.2s ease;
  }
.shadow2{
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
  .custom-input::placeholder {
    color: rgba(255, 255, 255, 0.5);
  }

  .custom-input:hover{
    box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.5);
  }

  .custom-input2:hover{
    box-shadow: 0 0 0 3px rgba(168, 168, 168, 0.5);
  }
  
  .custom-input:focus {
    background-color: rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.5);
    outline: none;
  }

  .custom-input2:focus {
    background-color: white;
    box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.5);
    outline: none;
  }

  .custom-checkbox {
    width: 20px;
    height: 20px;
    border: 2px solid white;
    border-radius: 3px;
    outline: none;
    transition: background-color 0.3s ease;
    background-color: transparent;
    margin-right: 8px;
  }

  .custom-checkbox2 {
    width: 20px;
    height: 20px;
    border: 2px solid black;
    border-radius: 3px;
    outline: none;
    transition: background-color 0.3s ease;
    background-color: black;
    margin-right: 8px;
    color: black
  }
  
  .custom-checkbox:checked {
    background-color: transparent;
  }
  
  .custom-checkbox:focus {
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.5);
  }

  .btn{
    background-color: rgba(255, 255, 255, 0.1);
    transition: background-color 0.3s ease;
  }

  .btn:hover{
    background-color: rgba(255, 255, 255, 0.18);
  }

  
  
  
  
