.border-color {
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.custom-hover {
  transition: background-color 0.3s ease;
}

.custom-hover:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.table-responsive {
  white-space: nowrap;
}

@media (max-width: 1100px) {
  .table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
  }
}

.p-border-color {
  border: 3px solid rgba(255, 255, 255, 0.3);
}

.p-border-r {
  border-right: 3px solid rgba(255, 255, 255, 0.3);
}

.active {
    background-color: rgba(0, 0, 0, 0.2);
}

.active2 {
  color: #1D4ED8;
  transform: scale(1.1);
}

.border-b-color{
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.border-b-r-color{
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
}
