.border-t-color {
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}
.border-t-color2 {
  border-top: 1px solid #d1d5db;
}

.custom-hr {
  height: 1px;
  background-color: rgba(255, 255, 255, 0.2);
  border: none;
}
.custom-hr2 {
  height: 1px;
  background-color: rgba(134, 134, 134, 0.589);
  border: none;
}

.border-r-color {
  border-right: 1px solid rgba(255, 255, 255, 0.2);
}
.border-r-color2 {
  border-right: 1px solid #d1d5db;
}

.old-color {
  color: rgba(255, 255, 255, 0.4);
}
.old-color2 {
  color: #7f9be9;
}

.new-color {
  color: #fff;
}
.new-color2 {
  color: #2563eb;
}
