@media (min-width: 990px) {
  .size {
    scale: 155%;
    margin: 70px;
  }
}

@media (max-width: 990px) {
  .size {
    scale: 1.5;
    margin: 65px;
  }
}

@media (max-width: 450px) {
  .size {
    scale: 1.4;
  }
}
@media (max-width: 400px) {
  .size {
    scale: 1.3;
  }
}
@media (max-width: 350px) {
  .size {
    scale: 1;
  }
}

@media (max-width: 770px) {
  .card-size {
    width: 60%;
  }
}
@media (max-width: 520px) {
  .card-size {
    width: 88%;
    margin: 0 0;
  }
}

@media (max-width: 770px) {
  .make-gap {
    gap: 40px;
  }
}

@media (max-width: 350px) {
  .make-gap {
    gap: 0;
  }
}

@media (max-width : 770px) {
  .calendar {
    visibility: hidden;
    position: absolute;
    left: -1000px;
    
  }
}